$color-accent: #16a085;
$color-input: #fff;

.auth {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-nav {
	display: flex;
	width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    text-align: center;
}

a {
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    color: $color-accent;
    transition: 300ms ease;
    width: calc(100% / 3 - 4px);
    
    //    pointer arrow
    &:after {
        content: '';
        border: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        transition: inherit;
    }
}

#sign-in.active,
#sign-up.active,
#reset.active {
    color: $color-input;
    &:after {
        border-bottom-color: $color-input;
    }
}

.active {
	color: rgb(24, 107, 24);
}