<div
  @fade
  class="alert alert-{{message.type}}"
  *ngIf="message.text"
>
{{message.text}}
</div>
<form [formGroup]="regForm" (ngSubmit)="signup()">
  <div
    class="form-group"
    [ngClass]="{'has-error': formErrors.email}"
  >
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введите email"
      formControlName="email"
    >
    <span
      class="form-help-text"
      *ngIf="formErrors.email"
    >
      {{ formErrors.email }}
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': formErrors.password}"
  >
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Введите пароль"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="formErrors.password"
    >
      {{ formErrors.password }}
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': formErrors.repeatPassword}"
  >
    <input
      type="password"
      class="form-control underlined"
      id="repeatPassword"
      placeholder="Повторіть пароль"
      formControlName="repeatPassword"
    >
    <span
      class="form-help-text"
      *ngIf="formErrors.repeatPassword"
    >
      {{ formErrors.repeatPassword }}
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': formErrors.agree}"
  >
    <label for="agree">
      <input
        class="checkbox"
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>Погоджуюсь з правилами</span>
    </label>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="regForm.invalid"
    >
      Зареєструватися
    </button>
  </div>
</form>
