$color-accent: #16a085;

.map-outlet {
  display: flex;
}

.mapCover {
  flex-basis: 60%;
  flex-grow: 2;
}

.info-place {
  flex-basis: 40%;
}

input {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 20px;
  padding: 5px 8px;
  width: 50%;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 35px;
  &:focus {
    outline: none;
  }
}

#map {
  height: 750px;
  width: 100%;
}

.menu-rightclick {
  display: inline-block;
  position: absolute;
  padding: 3px 5px;
  cursor: pointer;
  border: 1px solid darkgray;
  background-color: rgba(140, 140, 140, 0.33);
}

select {
  margin-bottom: 15px;
  background: transparent;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  height: 32px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 200px;
  background-color: $color-accent;
}
