input {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding: 4px 8px;
    position: absolute;
    width: 50%;
    &:focus {
      outline: none;
    }
}


#map {
    height: 100%;
    width: 100%;
}

.mapCover {
    height: 500px;
    width: 100%;
    flex-grow: 2;
}