input {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding: 4px 8px;
    width: 50%;
    margin-bottom: 15px;
    &:focus {
      outline: none;
    }
}


#map {
    height: 750px;
    width: 100%;
}


