$color-accent: #16a085;
$color-input: #fff;

input {
  background-color: $color-input;
  display: block;
  transition: 300ms ease;
  border-radius: 7px;
  border: 0;
  max-height: 40px;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
  width: 250px;
  font-size: 16px;
  text-align: center;
  outline: 0;
}

button {
  width: 270px;
  height: 40px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 7px;
  background-color: $color-accent;
  font-size: 16px;
  &:before {
    font-size: 16px;
  }
}

.form-help-text {
  font-size: 12px;
}

span {
  display: block;
  margin-top: 5px;
}

div.alert-danger {
  margin-top: 15px;
}
