<div *ngIf="placeInfo.name" class="place-info">
	<div class="info-header">
		<h2 *ngIf="placeInfo.name">
			{{placeInfo.name}}
		</h2>
    <ngb-carousel *ngIf="placeInfo.photos">
      <ng-template *ngFor="let photo of placeInfo.photos" ngbSlide>
        <img [src]="photo.getUrl({maxwidth:250,maxHeight:250})" alt="Random first slide">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </ng-template>
    </ngb-carousel>
		<div class="other-info">
      <ngb-rating [(rate)]="placeInfo.rating" max="5"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{placeInfo.rating}}</b></pre>
			<div *ngIf="placeInfo.website" class="site">
        Сайт: <a [href]="placeInfo.website" target="_blank">{{placeInfo.website}}</a>
      </div>
		</div>
		<div class="wiki-info" *ngIf="wikiInfo">
      {{wikiInfo}}
      <a [href]="wikiPageUrl" target="_blank">детальніше</a>
    </div>
		<div *ngIf="placeInfo.formatted_address" class="address">Адреса: {{placeInfo.formatted_address}}</div>
		<div *ngIf="placeInfo.formatted_phone_number" class="phone-number">Телефон: {{placeInfo.formatted_phone_number}}</div>
		<div *ngIf="placeInfo.opening_hours" class="opening_hours">
			<div class="open-now">
				<span *ngIf="placeInfo.opening_hours.open_now">Open</span>
				<span *ngIf="!(placeInfo.opening_hours.open_now)">Closed</span>
			</div>
			<ul>
				<li *ngFor="let day of placeInfo.opening_hours.weekday_text">{{day}}</li>
			</ul>
		</div>
	</div>
  <input type="submit" value="Add a marker" (click)="openModal()">
</div>
