$color-accent: #16a085;
.place-info {
  padding-top: 25px;
  padding-left: 15px;
}

.other-info hr {
  margin: 0;
}

.other-info pre {
  margin: 0;
}

.other-info ngb-rating {
  margin-top: 10px;
}

input[type="submit"] {
  width: 200px;
  height: 40px;
  border: 0px;
  border-radius: 7px;
  background-color: $color-accent;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
  &:before {
    font-size: 16px;
  }

}
