<div class="container">
  <div class="header-component-categories">
      <h1>Вибір категорії</h1>
      <select name="categories" id="cat" [(ngModel)]="selectedCat" (ngModelChange)="onChange($event)">
        <option selected hidden value="">Choose here</option>
        <ng-container *ngIf="categories">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </ng-container>
      </select>
      <input type="button" value="Delete category" (click)="onDeleteCategory()">
  </div>
  <div class="markers">
    <ul>
      <li *ngFor="let marker of filteredMarkers">
        {{ marker["name"] }}
        <button type="button" class="btn-picto" (click)="deleteMarker(marker.name)">
          <i class="material-icons">delete</i>
        </button>
      </li>
    </ul>
  </div>
</div>
<input type="text" [(ngModel)]="newCategory" placeholder="Category name">
<input type="button" value="Add category" (click)="onAddCategory()">
