<div class="container">
  <div class="header-component-categories">
      <h1>Вибір категорії</h1>
      <select name="categories" id="cat" [(ngModel)]="selectedCat" (ngModelChange)="onChange($event)">
        <option selected hidden value="">Choose here</option>
        <ng-container *ngIf="categories">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </ng-container>
      </select>
      <input type="button" value="Delete category" (click)="onDeleteCategory()">
  </div>
  <th-marker-item [markers]="filteredMarkers" [user]="userUid"></th-marker-item>
</div>
<input type="text" [(ngModel)]="newCategory" placeholder="Category name">
<input type="button" value="Add category" (click)="onAddCategory()" [disabled]="!newCategory">
<router-outlet></router-outlet>
