<div class="container">
  <div class="header-component-categories">
      <h1>Вибір категорії</h1>
      <select name="categories" id="cat" [(ngModel)]="selectedCat" (ngModelChange)="onChange($event)">
        <option selected hidden value="">Choose here</option>
        <ng-container *ngIf="categories">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </ng-container>
      </select>
      <input type="button" value="Delete category" (click)="onDeleteCategory()">
  </div>
  <div class="markers">
    <ul>
      <li *ngFor="let marker of filteredMarkers">
        {{ marker["name"] }}
        <button type="button" class="btn-picto" (click)="deleteMarker(marker.name)">
          <i class="material-icons">delete</i>
        </button>
        <button type="button" class="btn-picto" (click)="openModal(marker)">
          <i class="material-icons">mode_edit</i>
        </button>
      </li>
    </ul>
  </div>
</div>
<input type="text" [(ngModel)]="newCategory" placeholder="Category name">
<input type="button" value="Add category" (click)="onAddCategory()" [disabled]="!newCategory">
<div id="myModal" class="modal" *ngIf="isModal">
  <div class="modal-content">
    <button class="close" (click)="closeModal()"><span class="close">&times;</span></button>
    <select name="categories" id="category" [(ngModel)]="selectedModalCat">
      <ng-container *ngIf="categories">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </ng-container>
    </select>
    <!--<div class="group">-->
      <!--<input type="text" [(ngModel)]="newCategory" required>-->
      <!--<span class="highlight"></span>-->
      <!--<span class="bar"></span>-->
      <!--<label>New category</label>-->
    <!--</div>-->
    <div class="group">
      <input type="text" [(ngModel)]="editMarker.name" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Marker name</label>
    </div>
    <textarea name="comments" [(ngModel)]="editMarker.comments" cols="30" rows="7" placeholder="Add comments"></textarea>
    <input type="submit" value="Save changes" (click)="saveChanges()">
  </div>
</div>
