<div *ngIf="placeInfo" class="place-info">
	<div class="info-header">
		<h2 *ngIf="placeInfo.name">
			{{placeInfo.name}}
		</h2>
		<!-- <div class="foto-place">
			{{placeInfo.photos[0]}}
		</div> -->
		<div class="other-info">
			<div *ngIf="placeInfo.rating" class="raiting">Рейтинг: {{placeInfo.rating}}</div>
			<div *ngIf="placeInfo.website" class="site">Сайт: <a href=placeInfo.website>{{placeInfo.website}}</a></div>
		</div>
		<div class="wiki-info"></div>
		<div *ngIf="placeInfo.formatted_address" class="address">Адреса: {{placeInfo.formatted_address}}</div>
		<div *ngIf="placeInfo.formatted_phone_number" class="phone-number">Телефон: {{placeInfo.formatted_phone_number}}</div>
		<div *ngIf="placeInfo.opening_hours" class="opening_hours">
			<div class="open-now">
				<span *ngIf="placeInfo.opening_hours.open_now">Open</span>
				<span *ngIf="!(placeInfo.opening_hours.open_now)">Closed</span>
			</div>
			<ul>
				<li *ngFor="let day of placeInfo.opening_hours.weekday_text">{{day}}</li>
			</ul>
		</div>
		
	</div>
	<div id="myModal" class="modal"*ngIf="isModal">
		<div class="modal-content">
			<button class="close" (click)="closeModal()"><span class="close">&times;</span></button>
			<p>Виберіть категорію або введіть на зву нової категорії</p>
			<select name="categories" id="cat" [(ngModel)]="selectedCat">
				<ng-container *ngIf="categories">
				<option *ngFor="let category of categories" [value]="category">{{ category }}</option>
				</ng-container>
			</select>
			<div class="group">      
				<input type="text" [(ngModel)]="newCategory" required>
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>New category</label>
			</div>
			<input type="submit" value="Add a marker" (click)="onAddMarker()">
		</div>
	</div>
	<input type="submit" value="Add a marker" (click)="openModal()">
</div>
