html, body {
    height: 100%;
}
body {
	// background-image: url('./assets/stock-photo-thailand-travel-background-concept-249460675.jpg');
	background-color: #1abc9c;
	background-size: 100%;
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 7px;
  margin: 1px;
}

#iw-container  .iw-content {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 7px;
}

.gm-style-iw {
  width: 300px !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 2px 2px 0 0;
}
