<div class="container">
  <div class="header-component-categories">
      <h1>Вибір категорії</h1>
      <select name="categories" id="cat" [(ngModel)]="selectedCat" (ngModelChange)="onChange($event)">
        <ng-container *ngIf="categories">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </ng-container>
      </select>
  </div>
  <div class="markers">
    <ul>
      <li *ngFor="let marker of filteredMarkers" #ival>
        {{ marker["name"] }}
        <input type="button" value="delete marker" (click)="deleteMarker(ival.innerText.trim())">
      </li>
    </ul>
  </div>
</div>
<input type="text" [(ngModel)]="newCategory">
<input type="button" value="Add category" (click)="onAddCategory()">
<input type="button" value="Delete category" (click)="onDeleteCategory()">