<div class="container">
  <div class="header-component-categories">
      <h1>Вибір категорії</h1>
      <select name="categories" id="cat">
        <ng-container *ngIf="categories">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </ng-container>
      </select>
  </div>
  <!-- <div class="markers">
    <ul>
      <li *ngFor="let marker in category">{{marker.name}}</li>
    </ul>
  </div> -->
</div>
<input type="text" [(ngModel)]="newCategory">
<input type="button" value="Add category" (click)="onAddCategory()">